* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-color: #0d1117;
    color:white;
    font-family: "Jost", sans-serif;
}
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    padding:0.625rem;
}
header .logo-mobile {
    display: none;
}
header nav {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
header nav a:link {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.9375rem;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    padding:0.3125rem;
    transition: 1s;
    margin: 0.3125rem;
}
header nav a:hover {
    color:#01B5FE;
    border-bottom: 1px solid #01b5fe;
}
header nav a:active {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}
header nav a:visited {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}
main {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
main .bov {
    margin: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .bov h1{
    font-size:1.7rem;
    text-transform: uppercase;
    text-align: center;
}
main .bov p {
    text-align: center;
    font-size:1.0625rem;
    margin:0.3125rem;
}
main .bov button {
    background-color:#182732;
    color:rgb(255, 255, 255);
    font-size:0.8375rem;
    padding:2.9625rem;
    padding-top:0.625rem;
    padding-bottom:0.625rem;
    border:none;
    border-radius:0.625rem;
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
    cursor:pointer;
    transition: 1s;
}
main .mod {
    margin: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .mod h1 {
    font-size:1.7rem;
    text-transform: uppercase;
    text-align: center;
}
main .mod ul {
    list-style-type: none;
}
main .mod ul li {
    padding:0.3125rem;
}
main .mod ul li p {
    font-size: 1.0625rem;
    text-align: justify;
}
ul li p strong {
    color:#01B5FE;
}
main .sobre {
    margin: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .sobre h1 {
    font-size:1.7rem;
    text-transform: uppercase;
    text-align: center;
}
main .sobre p {
    font-size: 1.0625rem;
    margin:0.3125rem;
    text-align: center;
}
footer p {
    text-align: center;
    font-size:0.8125rem;
}
footer {
    margin: 1.875rem;
}
.bov iframe {
    margin:1.769rem;
}
.bov .down:link {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.9375rem;
    text-transform: uppercase;
    text-align: center;
    transition: 1s;
}
.bov .down:visited {
    color: #ffffff;
}
@media (max-width: 1022px) {
    html {
        font-size: 15px;
    }
}
@media (max-width: 940px) {
    html {
        font-size: 14px;
    }
}
@media (max-width: 870px) {
    html {
        font-size: 13px;
    }
}
@media (max-width: 690px) {
    html {
        font-size: 15px;
    }
    header .iflogo {
        display: none;
    }
    header {
        flex-direction: column;
    }
    .bov p span {
        display: none;
    }
    main .mod ul li p {
        text-align: center;
    }
    main .mod ul li p span {
        display: none;
    }
    .sobre p span {
        display: none;
    }
    main .bov {
        margin: 0.4846rem;
    }
    main .mod {
        margin:0.4846rem;
    }
    main .sobre {
        margin:0.4846rem;
    }
    main .bov button {
        margin-top: 0.4846rem;
        margin-bottom:0.4846rem;
    }
}
@media (max-width: 400px) {
    html {
        font-size: 13px;
    }
}
@media (max-width: 350px) {
    html {
        font-size: 12px;
    }
    header .logo {
        display: none;
    }
    header .logo-mobile {
        display: inline;
    }
}
@media (max-width: 350px) {
    html {
        font-size: 11px;
    }
}
@media (max-width: 300px) {
    html {
        font-size: 10px;
    }
}
@media (max-width: 250px) {
    html {
        font-size: 9px;
    }
}