* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-color: rgb(10, 10, 10);
    color:white;
}
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width:100%;
    padding:10px;
    background-color: black;
}
header nav {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
header nav a {
    margin:10px;
}
header nav a:link {
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}
main .box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding:40px;
}
main .box .text {
    width:50%;
    font-size:20px;
    padding:20px;
}
main .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .cont ul {
    margin:10px;
}
main .cont ul p {
    font-size: 20px;
    padding:10px;
}
footer p {
    text-align: center;
}
footer {
    padding:20px;
}